body {
    margin: 0;
    background-color: #22264b;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #b56969;
    width: 100%;
    height: 4vh;
    position: relative;
}

#logo-up {
    position: absolute;
    bottom: -82%;
    left: 2%;
    text-transform: uppercase;
}

#logo-up p {
    font-size: 26px;
    color: #22264b;
    font-weight: 700;
}

#logo-down {
    left: 5%;
    position: absolute;
    bottom: -128%;
    text-transform: uppercase;
}

#logo-down p {
    font-size: 26px;
    color: #b56969;
    font-weight: 700;
}

#status-selection {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    cursor: pointer;
}

#status-selection p {
    display: inline-block;
    color: #22264b;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 15px 0 15px;
    opacity: 0.55;
}

#status-selection .active {
    opacity: 1;
}

#login {
    position: absolute;
    right: 0%;
}

#login p {
    display: inline-block;
    color: #22264b;
    text-transform: uppercase;
    margin: 10px 20px 0 0;
}

#list {
    width: 30%;
    margin: auto;
    background-color: white;
    height: 92vh;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

#taskList {
    margin-top: 0;
    padding: 10px 25px;
}

#list .deleteButton {
    outline: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    font-size: 0px;
    transform: translateY(-50%);
    top: 50%;
/*    display: none;*/
}

#list .list-item {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 10px;
    font-size: 14px;
    margin: 20px 0;
}

#list .list-item span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    padding-left: 25px;
    max-width: 92%;
}

.list-item:hover .deleteButton::before {
/*    display: inline-block;*/
    font-size: 15px;

}

#addTaskSection {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    text-align: center;
}

#newTaskText {
    min-width: 86%;
    margin-right: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
}

#newTaskButton {
    height: 35px;
    width: 10%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #2E7D32;
    cursor: pointer;
}

i.fa.fa-circle-thin, i.fa.fa-check-circle, i.fa.fa-play-circle-o {
    margin-right: 5px;
    font-size: 19px;
}

.statusButton {
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.strikeElement {
    text-decoration: line-through;
}

footer {
    background-color: #15172e;
    width: 100%;
    height: 4vh;
    position: relative;
}

footer p {
    color: #626896;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0%;
    margin: 0;
    margin-top: 10px;
}

#icons-container {
    position: absolute;
    top: 20%;
    left: 1%;
}

.icons {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facebook {
    background-image: url(../images/Facebook.png);
}

#twitter {
    background-image: url(../images/Twitter.png);
}

#linkedin {
    background-image: url(../images/Linkedin.png);
}
