body {
    margin: 0;
    background-color: #22264b;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

#list {
    width: 30%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    height: 90vh;
    position: relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.7);
}

#taskList {
    margin-top: 0;
    padding: 10px 25px;
}

#list .deleteButton {
    outline: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
}

#list .list-item {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#list h1 {
    margin-top: 0;
    background: #b56969;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    padding-top: 7px;
    font-weight: 600;
    margin-bottom: 0;
    color: #22264b;
    height: 30px;
}

#addTaskSection {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    text-align: center;
}

#newTaskText {
    min-width: 86%;
    margin-right: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
}

#newTaskButton {
    height: 35px;
    width: 10%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #e6cf8b;
    cursor: pointer;
}

i.fa.fa-circle-thin, i.fa.fa-check-circle, i.fa.fa-play-circle-o {
    margin-right: 5px;
    font-size: 19px;
}

.statusButton {
    cursor: pointer;
}

.strikeElement {
    text-decoration: line-through;
}

